# git ignore file
/Debug
/Release
/ipch

Debug/*
Release/*
ipch/*/*

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.sdf
*.ipch
*.bmp
*.txt
*.exe
*.tif
*.gif
*.jpg
*.JPG
*.png
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.avi
*.mp4
*.wmv
*.rmvb
*.flv
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
